* { padding: 0; margin: 0; border: 0; box-sizing: border-box; -webkit-tap-highlight-color: transparent; }
html, body { height: 100%; font-size: 14px; background-color: #0d1015;}
input, textarea, button { font-size: 14px; font-family: inherit; }
button { cursor: pointer; }
a, a:hover { text-decoration: none; }
li { list-style: none }
img { vertical-align: top }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 700; }

html, body {
	font-family: "Merriweather", serif;
	line-height: 1.5;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 30px;
	height: 30px;
	border: 5px solid #fff;
	border-right-color: transparent;
	border-radius: 15px;
	animation: rotate 1s linear infinite;
}

.hidden {
	display: none;
}

@keyframes rotate {
	to {
		rotate: 360deg;
	}
}

.container {
	padding: 40px 20px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
	color: #dfceb6;
	font-size: 16px;
}

.container p {
	margin: 1rem 0 0 0;
	text-indent: 1rem;
}